.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100vh;
  padding: 5px;
  overflow-y: scroll;
}

.sidebar__input {
  margin-bottom: 15px !important;
}

.sidebar__item {
  margin-bottom: 5px;
}

.sidebar__item:last-child {
  margin-bottom: 0px;
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  border: 1px solid blue;
  padding: 5px;
  transition: background-color 0.2s ease-out;
}

.item_disabled {
  border: 1px solid blue;
  background-color: lightgray;
}

.item:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: aqua;
}

.item_disabled:hover {
  background-color: lightgray;
  cursor: default;
}

.item__name {
  grid-area: 1 / 1 / 2 / 2;
  margin-bottom: 5px;
  font-weight: bold;
}

.item__info {
  grid-area: 2 / 1 / 3 / 2;
}

.item__button {
  grid-area: 1 / 2 / 3 / 3;
  align-self: center;
}

.item__button:hover {
  font-weight: bold;
}
